.Box {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.Box img {
  border-radius: 20px;
  filter: brightness(60%);
  width: 250px;
  height: 200px;
  transition: filter 0.2s;
}

.Box img:hover {
  filter: brightness(30%);
}

.BottomLeft {
  position: absolute;
  color: white;
  top: 150px;
  left: 15px;
}

@media only screen and (max-width: 600px) {
  .Box {
    width: 100%;
  }
}
