.Box {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.Box img {
  border-radius: 20px;
  filter: brightness(60%);
}

.BottomLeft {
  position: absolute;
  color: white;
  top: 90px;
  left: 15px;
}

@media only screen and (max-width: 600px) {
  .Box {
    width: 100%;
  }
}